*{
    margin: 0;
    padding: 0;
}

.navbar-brand .logo{
    max-width: 200px;
}

.nav-link.btn{
    border-radius: 30px;
    padding: 10px 25px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    min-width: 100px;
}

.signup-btn{
    background-color: #f91944;
    color: white !important;
}

.login-btn{
    background-color: rgb(241, 241, 241);
    color: black !important;
}

@media (min-width: 767px) {
    .nav-link.login-btn{
        margin-right: 10px;
    }
    .nav-link .cart-icon{
        margin-right: 20px;
    }
}

@media (max-width: 766px) {
    .nav-link.btn{
        margin-top: 10px;
    }
    
    .nav-link{
        text-align: center;
    }
}

